/*
 * The MIT License
 *
 * Copyright 2014-2015 TweetWallFX
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

.wordle {
    -fx-background-color: linear-gradient(to bottom, gray, white 75%);
    -fx-graphic: url(tweetwalllogo.png);
    -fx-fav-icons-visible: true;
}

.wordle .tag {
    -fx-fill: DarkBlue;     
}

.wordle .name {
    -fx-font: 36px "Calibri"; 
    -fx-text-fill: darkgray; 
    -fx-font-weight: bold;    
}

.wordle .retweetName {
    -fx-font: 18px "Calibri"; 
    -fx-text-fill: darkgray; 
    -fx-font-weight: bold;    
}

.wordle .handle {
    -fx-font: 28px "Calibri";
    -fx-text-fill: #8899A6;   
}

.favoriteCount{
    -glyph-name: "THUMBS_UP";
    -glyph-size: 24px;
    -fx-fill: #8899A6;   
}

.retweetCount{
    -glyph-name: "RETWEET";
    -glyph-size: 24px;
    -fx-fill: #8899A6;   
}

.verifiedAccount{
    -glyph-name: "CHECK_CIRCLE";
    -glyph-size: 24px;
    -fx-fill: #8899A6;   
}

.retweetBack{
    -glyph-name: "SQUARE"; 
    -glyph-size: 22px;    
    -fx-fill: yellowgreen; 
}
.retweetFront{
    -glyph-name: "RETWEET";
    -glyph-size: 16px;    
    -fx-fill: white; 
}

